.page {
    display:flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex: 1 0 100%;
    border-bottom: 2px solid black;
    justify-content: space-between; 
    align-items: center;
}

main {
    flex: 1 0 70%;
}

.header nav ul {
    display: flex;

  
}

.header nav ul li  {
    list-style: none;
    padding: 0.5rem;
    color: green

}

.site-title {
    font-size: 2rem;
    padding: 0;
}