body {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

header, main, aside, footer {
    /* border: 2px solid black; */
    margin: 10px;
    box-shadow: 0px 0px 38px 12px rgba(0,0,0,0.75);
}

header,footer {
    height: 20vh;
    width: 100%;
}

main, aside {
    height: 60vh;
    }

    main {
        width: 70%;
    }
    aside {
        width: 27%;
        margin-right: 0;
    }

