@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

body {
    display: flex;
    margin: 2rem;
    justify-content: center;
}

section { 
    padding: 1rem;
    background: #F9F9F9;
    border: 1px solid black;
    border-radius: 3px;
    max-width: 30rem;
   
}



form {
    display: flex;
    margin: 1rem;
     }

button {
    display: block;
    margin: 1rem;
}

p {
    position: relative;
    top: -155px;
    left: -5px;
        background: #F9F9F9;
    border: 1px solid black;
    width: 15%;
    border-radius: 3px;
    padding: 3px;
}

input:hover {
    border: 1px solid green;    
    border-radius: 3px;
}
input {
    border-radius: 3px;
    flex-shrink: 1;
    outline-style: none; 
    width: 100%; 
       }

@media screen and (max-width: 768px) {
    form {
        display: block;
    }

    p {
        position: relative;
        top: -191px;
        left: -5px;
            background: #F9F9F9;
        border: 1px solid black;
        width: 20%;
        border-radius: 3px;
        padding: 3px;
    }
}