@import url(./nav.css);
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('./layout.css');
@import url('./buton.css');
@import url('./elements.css');
@import url('./footer.css');

@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    margin: 0;
}
.whole-section, .team {
 background: url('http://api.thumbr.it/whitenoise-361x370.png?')
}

section > header  {
    text-align: center;
}

h2, h3 {
    font-family: 'Mali', cursive;
}

footer h2,
.site-title h2 {
    font-family: 'Mali', cursive;
    color: purple;
    font-size: 2rem;
}

footer {
    box-shadow: 0 -5px 5px -5px #333;
}

.site-title p {
    font-family: 'Comfortaa', cursive;
}

/*Call to action */
.button {
    width: 30%;
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    }

/* 
Newsletter секция */

    .newsletter .wrapper {
        text-align: center;
margin-bottom: 2rem;
   }

    .newsletter {
     background: purple;
     padding: 3rem;
    }

    .newsletter header:after {
        display: block;        
        margin: 0 auto 2rem auto;
        width: 8rem;
        height: 0.1rem;
        content: '';
        background: black;
    }

    .newsletter h2 {
        color: white;
    }
    

    .wrapper  .input {
        margin-right: 1rem;
        
    }

    .wrapper input {
        width: 50%;
        height: 1.5rem;
        border: 2px solid black;
        border-radius: 4px;
    }
    
    .input, .button-input {
        padding-bottom: 2rem;
        
    }

    .button-input button {
    height: 1.8rem;
    border: 2px solid black;
    border-radius: 4px;
    background: white;
}


/*Mobilna versia*/
@media screen and (max-width: 800px) {

    div.wrapper {
            margin: 0 auto;
    }

    .wrapper .fas {
        font-size: 64px;
    }

    .wrapper .copy {
        width: 16rem;
    }

    .team .wrapper ul li {
        flex: 1 0 50%;
        list-style: none;
    }

        footer .site-title {
           width: 25rem;
        }
    
}